doctype html
html
  head
    include includes/head.pug
    block styles
      
  body
    include includes/navbar.pug
    .container
      block content
    include includes/footer.pug
    block scripts
    
